{% extends "base.html" %}

{% block title %}Contacto - ReciclaTech{% endblock %}

{% block content %}

<main style="padding: 60px 20px; max-width: 600px; margin: auto;">

    <h1>Contacto</h1>

    <p style="margin-top: 15px;">
        Tem dúvidas ou sugestões? Envie-nos uma mensagem.
    </p>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div style="margin-top: 18px;">
        {% for category, message in messages %}
        <p style="padding: 8px; border-radius: 6px; background:#2c2c2c; color:white;">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <form action="/contacto" method="post" style="margin-top: 30px; display: flex; flex-direction: column; gap: 15px;">

        <label>Nome</label>
        <input type="text" name="nome" placeholder="Seu nome" required>

        <label>Email</label>
        <input type="email" name="email" placeholder="Seu email" required>

        <label>Mensagem</label>
        <textarea rows="5" name="mensagem" placeholder="Escreva sua mensagem..." required></textarea>

        <button type="submit" style="padding: 12px; background-color: #20c997; border: none; font-weight: bold; cursor: pointer;">
            Enviar
        </button>

    </form>

</main>

{% endblock %}